In [102]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [189]:
#read data csv file
csv_file = 'data.csv'
data = pd.read_csv(csv_file, error_bad_lines=False)
df = data.copy()

In [190]:
df.head()

  country_code  first_name gender
0           UK      Lizzie      F
1           DE  Malgorzata      F
2           IT       Mauro      M
3           UA         NaN      F
4           US     Addison      F

In [191]:
df = df.dropna(axis=0, how='any')
df.head()

  country_code  first_name gender
0           UK      Lizzie      F
1           DE  Malgorzata      F
2           IT       Mauro      M
4           US     Addison      F
5           US      alicia      F

In [157]:
# # gender category
# gender_cat = pd.Series(np.sort(df['gender'].unique()), dtype="category")
# print(gender_cat)

# # first_name category
# firstname_cat = pd.Series(np.sort(df['first_name'].unique()), dtype="category")
# print(firstname_cat)

# country_cat = pd.Series(np.sort(df['country_code'].unique()), dtype="category")
# print(country_cat)

# #Convert gender column which is an object in the dataframe to a discrete numerical value.
# df['country'] = pd.Categorical(df['country_code'])
# df['country'] = df.country.cat.codes
# df['gender'] = pd.Categorical(df['gender'])
# df['gender'] = df.gender.cat.codes
# df['firstname'] = pd.Categorical(df['first_name'])
# df['firstname'] = df.firstname.cat.codes

# print(df.head())

0    B
1    F
2    M
dtype: category
Categories (3, object): [B, F, M]
0                  ANNA
1                  Abby
2               Abraham
3               Addison
4      Alejandro Miguel
5            Alessandra
6                  Alex
7                 Alexi
8                Alison
9               Allison
10              Allyson
11               Alyssa
12               Amanda
13                Andre
14               Andres
15               Angela
16                 Anna
17                 Anne
18                Annie
19             Annmarie
20               Ashley
21                Beata
22                Becca
23                  Ben
24               Billie
25                 Bisi
26               Brenda
27                Brian
28                Bruce
29                Bryan
             ...
313                lori
314               lowie
315               luigi
316      maria fernanda
317                mark
318               megan
319             michael
320               mihai
321              nermin
322              parvin
323               petre
324             raymond
325               roger
326                   s
327             sabrina
328              sandra
329            sandrine
330                sara
331                shan
332             shannon
333              silvia
334           sindielly
335             solange
336               sonia
337                 tai
338    veronica luciana
339            vincenzo
340           wanderson
341             william
342             Èdouard
Length: 343, dtype: category
Categories (343, object): [ANNA, Abby, Abraham, Addison, ..., vincenzo, wanderson, william, Èdouard]
0     AE
1     AR
2     AT
3     AU
4     BE
5     BR
6     CA
7     CH
8     CO
9     DE
10    ES
11    FR
12    HK
13    IE
14    IL
15    IN
16    IT
17    MX
18    MY
19    NL
20    PH
21    PL
22    SE
23    TR
24    UA
25    UK
26    US
27    UY
28    ZA
dtype: category
Categories (29, object): [AE, AR, AT, AU, ..., UK, US, UY, ZA]
  country_code  first_name  gender  country  firstname
0           UK      Lizzie       1       25        147
1           DE  Malgorzata       1        9        158
2           IT       Mauro       2       16        169
4           US     Addison       1       26          3
5           US      alicia       1       26        269

In [192]:
from sklearn.model_selection import train_test_split

# X = df.drop(["gender", "country_code", "first_name"], axis=1)
# y = df["gender"]

X = df.drop(["gender"], axis=1)
y = df["gender"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [193]:
X_train.shape

(305, 2)

In [194]:
X_test.shape

(77, 2)

In [195]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()

tree_model.fit(X_train, y_train)
rf_model.fit(X_train, y_train)

ValueError: could not convert string to float: 'FR'

In [162]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

tree_mse = mean_squared_error(y_train, tree_model.predict(X_train))
tree_mae = mean_absolute_error(y_train, tree_model.predict(X_train))
rf_mse = mean_squared_error(y_train, rf_model.predict(X_train))
rf_mae = mean_absolute_error(y_train, rf_model.predict(X_train))

from math import sqrt

print("Decision Tree training mse = ",tree_mse," & mae = ",tree_mae," & rmse = ", sqrt(tree_mse))
print("Random Forest training mse = ",rf_mse," & mae = ",rf_mae," & rmse = ", sqrt(rf_mse))

Decision Tree training mse =  0.0038251366120218575  & mae =  0.007650273224043715  & rmse =  0.06184768881714059
Random Forest training mse =  0.05669854280510018  & mae =  0.1685792349726776  & rmse =  0.23811455815447358

In [163]:
tree_test_mse = mean_squared_error(y_test, tree_model.predict(X_test))
tree_test_mae = mean_absolute_error(y_test, tree_model.predict(X_test))
rf_test_mse = mean_squared_error(y_test, rf_model.predict(X_test))
rf_test_mae = mean_absolute_error(y_test, rf_model.predict(X_test))

print("Decision Tree test mse = ",tree_test_mse," & mae = ",tree_test_mae," & rmse = ", sqrt(tree_test_mse))
print("Random Forest test mse = ",rf_test_mse," & mae = ",rf_test_mae," & rmse = ", sqrt(rf_test_mse))

Decision Tree test mse =  0.5844155844155844  & mae =  0.5324675324675324  & rmse =  0.7644707871564383
Random Forest test mse =  0.34352092352092356  & mae =  0.4796536796536797  & rmse =  0.586106580342623

In [165]:
print(X_test.head())
print(y_test.head())

     country  firstname
249       26        243
341       26         33
285        2         79
191       26        282
154       26         94
249    2
341    2
285    2
191    1
154    2
Name: gender, dtype: int8

In [188]:
# test = pd.DataFrame({'country':[26], 'firstname':[243]})
tree_model.predict([[26, 243]])

array([1.])